h1{
    text-align: center;
    color: #dc143c;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 40px 0;
}

p{

    font-family: 'Edu NSW ACT Foundation', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.cards{
    width: 80%;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
    
}

.card-item{
    
    border: 1px solid #db143c;
    border-radius: 7px;
    text-align: center;
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    


}

.card-item:hover{

    transform: scale(1.1);
    transition: 500ms;
}

.icone{



    font-size: 50px;
    color: #dc143c;
    margin-bottom: 30px;
}

.icone:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.card-item h2{

    font-size: 35px;
    margin-bottom: 20px;
}

.card-item p{

    font-weight: 500;
    margin-bottom:30px;
}

.btn{


    text-decoration: none;
    border: 2px solid #db143c;
    color: #FFF;
    background-color: #db143c;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 70px;
    transition: 500ms;
}

.btn:hover{

    background-color: transparent;
    color: #db143c;
}

@media(max-width:1024px){
.card-item{
    width: 80%;
}

}